# Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. Julia

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

    -Popular Languages
    -Common Data Science Libraries
    -Some Python Snippets

Some of the commonly used libraries used by Data Scientists include:

    1. Pandas
    2. NumPy
    3. TensorFlow

|Data Science Tools|
|---|
|Jupyter Notebooks|
|R Studio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
print(f'{200/60} hours')

3.3333333333333335 hours

## Author
Atilio Rodriguez